html, body {
    width: 100%;
    height: 100%;

    margin: 0;
    padding: 0;

    overflow: hidden;
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
}

.top-bar {
    height:7%;
    width:100%;

    position:fixed;
    top:0px;
    left:0px;
    background-color: rgba(130, 181, 72, .5);

    display: flex;
    flex-direction: row;
}

.nav-name {
    width: 10%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 22px;
    cursor: pointer;
}

.mini {
    font-size: 16px;
    width: 100%;
    height: 80%;
    background-color: #4CAF50;
    margin-right: 4px;
    cursor: pointer;
}

.mini-wrapper {
    width: 10%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#video {
    overflow-x: hidden;
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
}

#video-overlay {
    width: 100%;
    height: 100%;

    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: rgba(130, 181, 72, .5);
}

.login-box {
    width: 30%;
    height: 50%;

    flex-direction: column;

    background-color: white;
}

.login-text {
    display: flex;
    justify-content: center;

    font-size: 30px;
    margin-top: 2%;
}

.login-field {
    width: 80%;
    height: 25px;
    margin-left: 10%;
    margin-top: 2%;
    padding-left: 2%;
}

button, .littleLink {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 80%;
    margin-left: 10%;
    margin-top: 5%;
}

button:hover {
    opacity: 0.8;
}

#register-button {
    background-color: #0099CC;
    margin-top: 2%;
}

#register-button2 {
    background-color: #0099CC;
    margin-top: 2%;
}

#cancel-button {
    background-color: #FF3030;
    margin-top: 2%;
}

.hide {
    display: none;
}

.container-fluid {
    background-color: rgba(130, 181, 72, .5);
}

.navbar.navbar-default {
    border: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.navbar.navbar-default .navbar-collapse {
    border: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.top-bar input[type=text] {
    padding: 6px;
    border: none;
    font-size: 17px;
    margin-left: 2%;
    width: 90%;
    height: 70%;

}

.divLabel {
    margin:0;
}


#search-div {
    width: 40%;
    height: 100%;

    display: flex;
    align-items: center;
}

#browse {
    width: 10%;
    height: 80%;
    padding: 0px;
    margin: auto;
}

tr {
    width:100%;
}

.row {
    width:100%;
}

.trash {
    visibility:hidden; 
    width:20px; 
}

#icon {
    height:80%; 
}

table {
    display:block; 
    overflow-y:auto;
}

.ranges {
    visibility:hidden;
}

.resList {
    text-align:left; 
    width:50%;
}

.mainList {
    text-align:left; 
    width:25%;
}

.userList {
    text-align:left; 
    width:33%;
}

.reviewList {
    text-align:center; 
    width:25%;
    margin:auto;
}


.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

.littleLink {
    width:100px; 
    height:40px; 
}
